@use "../../styles/responsive.scss" as *;

.home {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
}
.section {
  display: grid;
  grid-template-columns: 176px 1fr;

  &__number {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    font-size: 40px;
    color: var(--cl-gray-2);
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    border-right: 1px solid #ebeef0;
    border-left: 1px solid #ebeef0;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
}

.h2 {
  color: var(--cl-black);
  margin-bottom: 56px;

  font-size: 40px;
  font-weight: 400;
  line-height: 1.25;
}

.learnMore {
  color: var(--cl-blue-3);

  font-size: 16px;
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  transition: var(--transition-base);
  &:hover {
    opacity: 0.8;
  }
  &:focus-visible {
    outline: 2px solid var(--cl-blue-3);
    outline-offset: 2px;
  }
}
.intro {
  position: relative;

  &__title {
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    text-transform: uppercase;
    border-left: 5px solid var(--cl-green-3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px;
    padding-left: 113px;

    max-width: 1000px;
    background: rgba(255, 255, 255, 0.7);

    backdrop-filter: blur(10px);
  }
  &__imgs {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 233px);
    height: 700px;
    gap: 2px;
    overflow: hidden; // добавьте это

    div:first-child {
      grid-row: 1 / 4;
      background: white;
    }

    img:nth-child(2) {
      grid-row: 1 / 4;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    img:nth-child(3),
    img:nth-child(4),
    img:nth-child(5) {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
    }
  }
}

.aboutUs {
  padding: 64px 0;
  border-top: 1px solid #ebeef0;
  border-bottom: 1px solid #ebeef0;
  margin: 112px auto;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 60px;
    gap: 60px;
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    transform: translateY(-12px);
    opacity: 0;
    animation: slideDown 0.5s ease forwards;
    animation-delay: 0.1s;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-12px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.service__title {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  margin-bottom: 88px;
  color: var(--cl-black);
  font-weight: 400;
}

@include responsive(tablet) {
  // стили для планшета
}

@include responsive(phone) {
  // стили для телефона
}
