@use "../../styles/responsive.scss" as *;

.header {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block {
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.nav {
  background-color: var(--cl-gray-1);
}

.mail {
  padding: 40px;
  border-left: 1px solid var(--cl-black);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.location {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: var(--cl-black);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  &_text {
    color: var(--cl-gray-3);
    font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  }
}

.navList {
  display: flex;
  gap: 1.5rem;
  margin-left: auto;
  justify-content: flex-start;
  padding-left: 260px;

  &_item {
    padding: 32px 0 31px;
  }
}

.active {
  border-bottom: 5px solid var(--cl-green-3);
  color: var(--cl-blue-3);
}

.navLink {
  text-transform: uppercase;
  padding: 32px 40px 31px;
}

.button {
  padding: 41px 78px;
  background-color: var(--cl-blue-3);
}

.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
   width: 100%;
  padding: 10px 15px 10px 15px;
  font-size: 14px;
  font-weight: 500;
  border:none;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.select option {
  padding: 10px;
  font-size: 14px;
  background-color: var(--cl-gray-2);
  border: none;
  border-radius: 8px;
}

.select:hover {
  border: none;
}

.select:focus {
  border: none;
}


.menuClick {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  color: var(--cl-white);
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 20;

  &_open {
    left: 20px;
    color: var(--cl-white);
  }

  &:focus {
    outline: none;
  }
}

.line1 {
  width: 1.5rem;
  height: 0.125rem;
  background: var(--cl-white);
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
  &_active {
    transform: rotate(45deg);
    background: var(--cl-white);
  }

  &_NoActive {
    transform: rotate(0);
  }
}

.line2 {
  width: 1.5rem;
  height: 0.125rem;
  background: var(--cl-white);
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;

  &_active {
    transform: translateX(6px);
    opacity: 0;
    background: var(--cl-white);
  }

  &_NoActive {
    transform: translateX(0);
    opacity: 1;
  }
}

.line3 {
  width: 1.5rem;
  height: 0.125rem;
  background: var(--cl-white);
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;

  &_active {
    transform: rotate(-45deg);
    background: var(--cl-white);
  }

  &_NoActive {
    transform: rotate(0);
  }
}

.mobile {
  display: none;
}

@include responsive(screen) {
  .block {
    gap: 20px;
  }
}
@include responsive(tablet) {
  .block {
    display: none;
  }
  .mail {
    display: none;
  }

  .nav {
    display: none;
  }

  .container {
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .menuClick {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    color: var(--cl-black);
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 20;

    &_open {
      left: 20px;
      color: var(--cl-black);
    }

    &:focus {
      outline: none;
    }
  }

  .line1 {
    width: 1.5rem;
    height: 0.125rem;
    background: var(--cl-black);
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
    &_active {
      transform: rotate(45deg);
      background: var(--cl-black);
    }

    &_NoActive {
      transform: rotate(0);
    }
  }

  .line2 {
    width: 1.5rem;
    height: 0.125rem;
    background: var(--cl-black);
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    &_active {
      transform: translateX(6px);
      opacity: 0;
      background: var(--cl-black);
    }

    &_NoActive {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .line3 {
    width: 1.5rem;
    height: 0.125rem;
    background: var(--cl-black);
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;

    &_active {
      transform: rotate(-45deg);
      background: var(--cl-black);
    }

    &_NoActive {
      transform: rotate(0);
    }
  }
  .button {
    background-color: transparent;
    padding: 41px 0;
  }
  .mobile {
  display: flex;
  flex-direction: column;
  gap: 47px;
}
.mobile_nav {
  background-color: var(--cl-gray-1);
}

.mobile_mail {
  padding: 40px;
  border-left: 1px solid var(--cl-black);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.mobile_location {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  color: var(--cl-black);
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.mobile_navList {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: flex-start;


  &_item {
    padding: 19.5px 48px;
    border: 1px solid var(--cl-gray-2);
  }
  &_i{
    padding: 15px 68px;
  }
}

.active {
  border-bottom: 5px solid var(--cl-green-3);
  color: var(--cl-blue-3);
}

.mobile_navLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-transform: uppercase;
  align-items: center;
}

.mobile_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 19.5px 48px;
}

.arrow {

  &_active {
    transform: rotate(90deg)
  }
}

.mobile_hel {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.mobile_button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 241px;
  width: 100%;
  padding: 17.5px 48px;
  border: 5px solid var(--cl-green-3);
  align-items: center;
  color: var(--cl-blue-3);
  justify-content: center;
}

}

@include responsive(phone) {

}

