:root {
  --cl-blue-3: #4878fe;

  --cl-gray-1: #f7f8fa;
  --cl-gray-2: #cfd3da;
  --cl-gray-3: #575f6c;
  --cl-gray-5: #333333;

  --cl-green-3: #70f181;

  --cl-black: #1f1f1f;
  --cl-white: #ffffff;

  --transition-base: all 0.3s ease;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&family=Afacad:wght@400;500;600&display=swap");

body {
  color: var(--cl-black);
  background-color: var(--cl-white);
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
}

.wrapper {
  max-width: 1240px;
  padding: 0 1.5rem;
  box-sizing: border-box;
  margin: 0 auto;
}

@media (max-width: 1200px) and (min-width: 768px) {
  body {
    font-size: 15px;
  }

  h1,
  h2,
  h3 {
    line-height: 1.3;
  }

  .wrapper {
    padding: 0 1rem;
  }
}
